<nav class="p-4 pb-5 flex justify-between w-full fixed z-50 top-0 bg-white border-b border-gray-300">
  <%# left side %>
  <div class="flex items-end space-x-10">
    <h1 class="text-4xl font-semibold px-10 text-gray-900">TheVasePlace</h1>
    <h1 class="text-gray-800 text-sm uppercase border-b border-gray-600">Shop</h1>
    <h1 class="text-gray-500 text-sm uppercase">About</h1>
    <h1 class="text-gray-500 text-sm uppercase">Policy</h1>
    <div class="bg-gray-100 pb-2 pt-3 pl-5 pr-16 -mb-1 text-xs text-gray-400 rounded flex space-x-5 items-start">
      <i class="fas fa-search text-gray-900"></i>
      <p>Search for a Product</p>
    </div>
  </div>

  <%# right side %>
  <div class="flex items-end space-x-10 pr-10">
    <i class="far fa-heart text-gray-800"></i>
    <i class="fas fa-shopping-basket"></i>
  </div>
</nav>
