<div class="mt-10 ml-10 text-gray-500 text-xs flex space-x-5">
  <%= link_to "Home", root_path %>
  <i class="fas fa-chevron-right text-xxs"></i>
  <p>Administrator</p>
</div>

<div class="my-20 w-full flex">
  <div class="w-1/2 border-r border-gray-100 space-y-5">
    <h1 class="bg-black text-white px-5 py-2 w-1/2 mx-auto">Add a new product</h1>
    <h1 class="bg-black text-white px-5 py-2 w-1/2 mx-auto">Views Orders</h1>
    <h1 class="bg-black text-white px-5 py-2 w-1/2 mx-auto">View users</h1>
  </div>
  <div class="w-1/2">
    <div class="w-full mx-auto w-max pr-20">
      <p>Number of orders today: 0</p>
      <p>Number of users today: 0</p>
      <p>Number of orders this week: 0</p>
      <p>Number of users this week: 0</p>
    </div>
  </div>
</div>
