<div class="relative">
  <%= image_tag("vases.jpg", class: "w-full object-cover h-screen") %>

  <div class="absolute top-1/2 left-1/2" style="transform: translate(-50%, -50%);">
    <h1 class="text-white text-center uppercase -mb-8" style="font-size: 8rem;">Free</h1>
    <h1 class="text-white text-center uppercase -mt-8" style="font-size: 8rem;">Delivery</h1>
    <p class="text-white text-2xl border-b-2 border-white w-max mx-auto" style="text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);">Shop Now</p>
  </div>
</div>

<div class="grid grid-col grid-cols-3 py-10 mx-auto w-full">
  <div class="mx-auto relative">
    <%= image_tag("body-vase (4).jpg", class: "w-96") %>
    <div class="w-96 flex justify-between">
      <h1>Body Statue</h1>
      <p>£15</p>
    </div>
    <p class="text-xs text-gray-400">Decorative create flower arrangement vase</p>
    <i class="far fa-heart absolute top-0 right-0 cursor-pointer" id="heart"></i>
  </div>

  <div  class="mx-auto relative">
    <%= image_tag("cat-vase (5).jpg", class: "w-96") %>
    <div class="w-96 flex justify-between">
      <h1>Creature Pot</h1>
      <p>£15</p>
    </div>
    <p class="text-xs text-gray-400">Decorative create flower arrangement vase</p>
    <i class="far fa-heart absolute top-0 right-0"></i>
  </div>

  <div  class="mx-auto relative">
    <%= image_tag("nordic-vase (5).jpg", class: "h-96 mx-auto") %>
    <div class="w-96 flex justify-between">
      <h1>Creature Pot</h1>
      <p>£15</p>
    </div>
    <p class="text-xs text-gray-400">Decorative create flower arrangement vase</p>
    <i class="far fa-heart absolute top-0 right-0"></i>
  </div>
</div>
