.card-width {
  width: 85%;

  .image-height {
    height: 12rem;
  }

  @media(min-width: 375px) {
    width: 15rem;

    .image-height {
      height: 14rem;
    }
  }

  @media(min-width: 425px) {
    .image-height {
      height: 16rem;
    }
  }

  @media(min-width: 768px) {
    width: 17rem;

    .image-height {
      height: 18rem;
    }
  }

  @media(min-width: 1024px) {
    width: 19rem;

    .image-height {
      height: 20rem;
    }
  }
}
